@import url(./normalize.css);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "LaoSangam";
  src: url("../fonts/Lao Sangam MN.ttf");
}


:root {
  --primary: white;
  --secondary: white;
  --text-color: white;
  --element-color: #14181b;
  --background-color: #192024;
  --link-color: #dddddd;
  --link-color-hover: white;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: .1rem;
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #fff;
}

body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

#logo {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 100px;
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.bg {
  width: 105%;
  height: 105%;
  left: 0;
  top: 0;
  position: absolute;
  background: url("../images/404/bg.svg") no-repeat center bottom 30px;
  background-size: cover;
}

h3 {
  font-size: 5rem;
}

a {
  color: var(--link-color);
  font-size: 24px;
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

.btn {
  width: 300px;
  border: var(--border-width-button) solid transparent;
  cursor: pointer;
  background: #00A1E7;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-top: 1rem;
  outline: none;
  height: 70px;
  font-weight: 600;
}

.btn:hover {
  background: #42D2FF;
}

#credits {
  position: fixed;
  bottom: 10px;
  left: 10px ;
  font-size: 12px;
}

@media only screen and (max-width: 950px) {
  #content{
    background: none;
    overflow: hidden;
  }

  .bg {
    width: 100%;
    height: 100%;
    background-position: center bottom 0;
  }

  #message h3 {
    font-size: 3em;
  }
}